<h2 id="title">Welcome to Ember</h2>

{{#link-to 'index' id="indexLink"}}Index Link{{/link-to}}
{{click-component id="clickComponent"}}
<a href="" id="nativeLink"></a>

<div onclick={{action "foo"}} id="actionOnClick">I have an action</div>

<div id="actionElement" {{action "foo"}}>I also have an action</div>

{{outlet}}
